<header>
  <h1>All transactions</h1>
  <h2>Total spend: <%=Transaction.total_spend(@transactions)%> </h2>
  <a href="/transactions/new"> Add another transaction</a>
</header>
<hr>

<table>
  <tr>
    <th> Amount </th>
    <th> Merchant </th>
    <th> Tag </th>
    <th> Date </th>
  </tr>
  <% for transaction in @transactions %>
  <tr>
    <td>£<%= transaction.amount %></td>
    <td><%= transaction.merchant.name %></td>
    <td><%= transaction.tag.name %></td>
    <td><%= transaction.transaction_timestamp %></td>
  </tr>
  <% end %>
</table>
